Django==4.2.27
gunicorn==23.0.0
whitenoise==6.11.0
pillow==11.2.1
python-decouple==3.8
sqlparse==0.5.3
django-appconf>=1.2.0
django-avatar==8.0.1
dnspython>=2.8.0
django-ipware==7.0.1
requests==2.32.4
tzdata==2025.2
packaging==24.2
agate==1.13.0
agate-dbf==0.2.3
agate-excel==0.4.1
agate-sql==0.7.2
openpyxl==3.1.5
