option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: jradisite.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: jradisite.settings
    PYTHONPATH: /var/app/current
    SECRET_KEY: "g@h&s3sf1-g(8yaw^mfbt6s8c9nfqz^)n%1*h8qq5^bcf)1dqt"
    DEBUG: "False"
    EMAIL_BACKEND: "django.core.mail.backends.smtp.EmailBackend"
    EMAIL_HOST: "smtp.gmail.com"
    EMAIL_PORT: "587"
    EMAIL_HOST_USER: "maissene.jradi@etudiant-isi.utm.tn"
    EMAIL_HOST_PASSWORD: "lndp ffzz zcub dkfd"
    EMAIL_USE_TLS: "True"
    DEFAULT_AUTO_FIELD: "django.db.models.BigAutoField"

container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"